filetype==1.2.0
Flask==3.0.3
flask-cors==5.0.0
Flask-Limiter==3.8.0
Wand==0.6.13
Werkzeug==3.0.6
gunicorn==23.0.0
timeout-decorator==0.5.0
nudenet==2.0.9
jinja2==3.1.4
itsdangerous==2.2.0
types-Flask==1.1.6
types-Werkzeug==1.0.9
